<footer class="footer">
  <small>
    <a href="https://github.com/rankida">Rankida's</a> attempt at Micheal Hartl's
    <a href="http://railstutorial.org/">Rails Tutorial</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://github.com/rankida">News</a></li>
    </ul>
  </nav>
</footer>